body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
  
  .title {
    margin-bottom: 10px;
  }

  .title5 {
    margin-top: -10px;
    font-size: -90px;
  }

  .title6 {
    margin-top: -10px;
  }

  .title7 {
    margin-top: -10px;
  }
  
  .title h2 {
    font-size: 110%; 
    margin-bottom: 10px; 
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;

  }
  .recommendations p {
    font-size: 10px; 
    margin-top: 10%; 
    margin-bottom: 10px; 
  }

  .Bestsellers,
  .Bestsellers {
    margin-bottom: 10px; 
  }
  
  .Bestsellers h2 {
    font-size: 110%; 
    margin-bottom: 10px; 
    margin-top: 5%;

  }
  
  .Bestsellers p {
    font-size: 10px; 
    margin-top: 10%; 
    margin-bottom: 10px; 
  }

  .Dernieressorties,
  .Dernieressorties {
    margin-bottom: 10px; 
  }
  
  .Dernieressorties h2 {
    font-size: 110%; 
    margin-bottom: 10px; 
    margin-top: 5%; 

  }
  
  .Dernieressorties p {
    font-size: 10px; 
    margin-top: 10%; 
    margin-bottom: 10px; 
  }

  .Jeuxdoccasion,
  .Jeuxdoccasion {
    margin-bottom: 10px; 
  }
  
  .Jeuxdoccasion h2 {
    font-size: 110%; 
    margin-bottom: 10px; 
    margin-top: 5%; 

  }
  
  .Jeuxdoccasion p {
    font-size: 10px; 
    margin-top: 10%; 
    margin-bottom: 10px; 
  }

  .Categories,
  .Categories{
    margin-bottom: 10px; 
  }
  
  .Categories h2 {
    font-size: 110%;
    margin-bottom: 10px; 
    margin-top: 5%; 

  }
  
  .Categories p {
    font-size: 10px; 
    margin-top: 10%; 
    margin-bottom: 10px; 
  }



  
  .features {
    margin-bottom: 20px;
  }
  
  .features .scrollable-content {
    display: flex;
    overflow-x: auto;
    gap: 20px; 
    max-width: 100%;
    overflow-x: scroll;
  }
  
  .square1 {
    width: 10px;
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 58px;
  }

  .ripout {
    width: 90px;
    height: 117px;
  }
  .killer{
    width: -100px;
  }
  .square2 {
    width: 20px;
    height: 117px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .square3 {
    width: 20px;
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 145px;
  }
  .square4 {
    width: 10px;
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: -55px;
  }

  .square7 {
    margin-left: -25px;
  }
  .square8 {
    margin-left: -25px;
  }

  .square2{
    margin-left: 60px;
  }
  
  .square13{
    margin-left: 20px;
  }


  .blockInner{
    height: 60%;
    width: 100%;
    background-color: aqua;
  }

  .round-image {
    border-radius: 50%; /* Pour rendre les images rondes */
    margin-right: 20px; /* Espacement horizontal entre chaque image */
    height: 152px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

#icons {
  display: flex;
  justify-content: space-around;
}

#trophe{
  display: flex;
  justify-content: space-around;
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 50%, cover; /* La première image prendra 50% de la taille du conteneur, la deuxième sera en taille de couverture */
  /* Couleurs de fond de secours */

}

.match {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.parti3 {
  position: relative;
  display: inline-block;
}

.image {
  float: left;
  margin-right: 20px; /* Ajustez la marge entre l'image et le texte selon vos besoins */
}

.image img {
  border-radius: 50%; /* Pour rendre l'image ronde */
}
.orange{
  color: orange;
}

.texte{
  width: 160px; /* Définissez la largeur du bouton */
  height: 40px;
  font-size: 13px;
  margin-left: 170px;
  margin-top: -15px;
}

.texte2{
  width: 120px; /* Définissez la largeur du bouton */
  height: 40px;
  font-size: 13px;
  margin-left: 220px;
  margin-top: -40px;
  color: aliceblue;
  align-items: center;
}

.gauche{
  margin-left: 200px;
  background-color: orange;
  width: 120px; /* Définissez la largeur du bouton */
  height: 40px;
  font-size: 13px;
}

.monsieur{
  float: left;
  margin-top: -70px;
  margin-bottom: 30px;
  width: 138px
}

.Leaders{
  width: 130px; /* Définissez la largeur du bouton */
  height: 40px;
  text-align: center;
  margin-bottom: 45px;
}

.photo{
  margin-top: 680px;
  
}

.title2{
  margin-bottom: 10px; 
  font-size: 110%; 
  margin-bottom: 10px; 
  margin-top: 5%;
}
.photos-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.image-pair1 {
  display: flex;
  margin-top: 10px; /* Ajustez la marge supérieure */
  margin-top: 20px;
  width: 80px; 
  height: 200px;
}

.image-pair2 {
  display: flex;
  margin-top: -190px;
  margin-left: 180px;
}


.image-pair1 img {
  width: 10px; 
  height: auto;
  margin-left: 20px;
  border-radius: 15px; 
  margin-right: 15px;
  margin-top: -20px; /* Ajustez la marge supérieure */
}
.image-pair2 img {
  width: 150px; 
  height: auto;
  margin-left: 10px;
  border-radius: 15px; 
  margin-right: 15px;
  margin-top: -20px; /* Ajustez la marge supérieure */
}

.image-pair1 img.image-1 {
  width: 120px;
  height: 120px;;
  margin-top: 40px; /* Ajustez la marge supérieure */
}

.image-pair2 img.image-2 {
  width: 130px;
  height: 175px;
  margin-top: 10px; /* Ajustez la marge supérieure */
  margin-left: -100px;
}

.profil-container2 {
  display: flex;
  margin-top: -5px; 
  margin-left: -160px; 
}


.profil-container2 span {
  font-size: 14px; 
  margin-top: -700px; 
  margin-left: 100px; 
}

.profil-container1 {
  display: flex;
}

.profil-container1 span {
  font-size: 14px; 
  margin-top: 5px; 
  margin-left: 50px; 
}

.amelya {
  width: 100%;
}

.amelya img {
  width:100%;
}

.header-amelya {
  height: 20%;
}

.to-swipe {
  margin-top: -1000px;
  border: 1px solid red;
  height: 80px;
}