.page {
    background: linear-gradient(168deg, #171D25 63.68%, #284BAF 144.2%);
    width: 100%;
    z-index: 1001;
}

.header-card {
    position: relative;
}

.header-card img{
    position: absolute;

}

/* carte 1*/

.card-content-front {
    position: absolute;
    max-width: 300px;
    height: 700px;
    top: 15%;
    left: 10%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card-content-front, .card-content-back {
    transform: scale(1.17);
    height: 60%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.card-content-front{
    z-index: 2;
}

.card-content-back {
    margin-left: 29px;
    margin-top: 22px;
    transform: rotateY(180deg);
}

/* carte 2 */

.card2-content-front {
    position: absolute;
    max-width: 300px;
    height: 700px;
    top: 12%;
    left: 7%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card2-content-front, .card2-content-back {
    transform: scale(1.08);
    height: 60%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.card2-content-front{
    transform: scale(1.08);
    z-index: 2;
}

.card2-content-back {
    height: 100%;
    margin-left: 29px;
    transform: rotateY(180deg);
}

.new-card.flipped .card2-content-front {
    transform: rotateY(-180deg); 
}
  
.new-card.flipped .card2-content-back {
    transform: rotateY(0deg); 
}

/* carte 3 */

.card3-content-front {
    position: absolute;
    max-width: 300px;
    height: 700px;
    top: 12%;
    left: 7%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card3-content-front, .card3-content-back {
    height: 60%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.card3-content-front{
    transform: scale(1.08);
    z-index: 2;
}

.card3-content-back {
    transform: scale(1.5);
    margin-left: 29px;
    transform: rotateY(180deg);
}

.last-card.flipped .card3-content-front {
    transform: rotateY(-180deg); 
}
  
.last-card.flipped .card3-content-back {
    transform: rotateY(0deg); 
}
/*carte 4*/

.fourth-card img{
    height: 60%;
    margin-left: 30px;
    transform: scale(1.06);
}

/*boutons*/

.boutons {
    position: absolute;
    bottom: 8%;
    left: 6%;
    width: 85%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.croix-rouge {
    transform: scale(1.2);
    background-color: transparent;
}

.refresh {
    transform: scale(1.2);
    border: 2px solid #6EE7B5;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding-left: 10px;
    background-color: transparent;
    margin-bottom: 5px;
}

.enregistrer {
    transform: scale(1.2);
    background-color: transparent;
}


.card.flipped .card-content-front {
    transform: rotateY(-180deg); 
}
  
  .card.flipped .card-content-back {
    transform: rotateY(0deg); 
}

.page.exiting .card {
    transform: translateX(100vw); 
    transition: transform 0.5s ease-in-out; 
}


/*animations d'entrée et de sortie */

@keyframes enterFromRightAnimation {
    from {
      transform: translateX(100%) rotate(-45deg);
    }
    to {
      transform: translateX(0) rotate(0deg);
    }
}

@keyframes enterFromLeftAnimation { 
    from {
      transform: translateX(-100%) rotate(45deg);
    }
    to {
      transform: translateX(0) rotate(0deg);
    }
}  

.enterRight { /*card2*/
    animation: enterFromRightAnimation 0.5s ease-out forwards;
}

.enterLeft { /*card 3*/
    animation: enterFromLeftAnimation 0.5s ease-out forwards;
}

.exitLeft { /*card 1*/
    animation: exitAnimationLeft 0.5s ease-out forwards;
}

.exitRight { /*card2*/
    animation: exitAnimationRight 0.5s ease-out forwards;
}

@keyframes exitAnimationLeft {
    from {
        transform: translateX(0) rotate(0deg);

    }
    to {
        transform: translateX(-100%) rotate(45deg);

    }
}

@keyframes exitAnimationRight {
    from {
        transform: translateX(0) rotate(0deg);

    }
    to {
        transform: translateX(100%) rotate(-45deg);

    }
}

